@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #252628;
  --foreground: #252628;
  --header-border-color: #4E4E4E;
  --hover-bg-color: #4E4E4E;
  --clicked-bg-color: #343333;
  --hover-bg-green: #15C384;
  --danger: #AF0505;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #252628;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial Helvetica, sans-serif;
}
