@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #252628;
  --foreground: #252628;
  --header-border-color: #4E4E4E;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #252628;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial Helvetica, sans-serif;
}
